@charset "utf-8";

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, th, strong {
  font-weight: 700;
}

.header {
  background: url(./images/header-topline.svg) repeat-x;
  border-bottom: 1px solid #d8d8d8;
}

.breadcrumb {
  display: none;
}

.page-bottom {
  background: url(./images/bottom-bg.svg);
}

.bottom-container {
  padding: 60px 4% 0 4%;
}

.footer-container {
  padding: 60px 4%;
}


.post .main-container {
  padding: 80px 4% 0 4%;
  background: url(./images/post-bg.svg) repeat-x;
  background-position: 0 10px;
}

.post-header {
  margin-bottom: 60px;
}

.post-header h1 {
  margin: 0 0 20px 0;
  font-size: 1.875rem;
  list-style: 1.5;
}

.post-tag {
  margin-bottom: 5px;
  font-size: .75rem;
  line-height: 2;
}

.post-tag span {
  margin: 0 3px 0 0;
  padding: 2px 10px;
  background: #73cbd6;
  border-radius: 100px;
}

.post-tag span a {
  color: #FFF;
  text-decoration: none;
}

.post-info {
  margin-bottom: 3px;
  padding-bottom: 15px;
  font-size: .75rem;
  text-align: right;
  background: url(./images/post-line.svg) bottom repeat-x ;
}

.post-info span {
  margin: 0 10px 0 0;
}

.post-info i {
  padding-right: 5px;
  color: #73cdb6;
}

.post-contents {
  margin: 0 0 60px 0;
}

.post-contents > *:first-child {
  margin-top: 0;
}

.post-contents h2 {
  margin: 60px 0 30px 0;
  padding: 1rem 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1.25rem;
}

.post-contents p {
  margin: 30px 0;
  line-height: 1.9;
  text-align: justify;
}

.post-contents mark {
  background: linear-gradient(transparent 50%, #ffff7c 50%);
}


.photo-caption {
  margin: 30px 0;
}

.photo-caption figcaption {
  margin-top: 5px;
  font-size: .75rem;
  color: #747474;
}

.info-box {
  margin: 30px 0;
  padding: 2rem;
  border: 4px solid #b8e5ea;
}

.float-box {
  display: flow-root;
  margin: 30px 0;
}

.float-right {
  float: right;
  margin: 0 0 1rem 1rem;
  width: 40%;
}

.float-box p {
  margin: 0;
}

.list {
  margin: 30px 0;
}

.list li {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.chat {
  margin: 30px 0;
}

.chat-1st, .chat-2nd {
  display: flex;
  margin: 15px 0;
}

.chat-2nd {
  flex-direction: row-reverse;
}

.chat-1st .face {
  flex: 0 0 70px;
  margin: 0 10px 0 0;
}

.chat-2nd .face {
  flex: 0 0 70px;
  margin: 0 0 0 10px;
}

.face img {
  border-radius: 50%;
}

.talk {
  flex: 1 1 auto;
  padding: 1.5rem;
  border-radius: 20px;
}

.chat-1st .talk {
  background: #b8e5ea;
}

.chat-2nd .talk {
  background: #ffff7c;
}

.talk p {
  margin: 0;
}

.post-footer {
  margin: 0 0 60px 0;
}

.footer {
  background: #000;
  color: #FFF;
}

.post-footer h2 {
  display: inline-block;
  margin: 0;
  padding: 10px 30px;
  background: #000;
  border-radius: 10px 10px 0 0;
  font-family: Croissant One, cursive;
  font-weight: 400;
  font-size: 1.25rem;
  color: #FFF;
}

.profile {
  display: flex;
  padding: 1rem;
  border: 1px solid #000;
}

.pr-photo {
  flex: 0 0 100px;
  margin-right: 1rem;
}

.pr-photo img {
  border-radius: 50%;
}

.pr-text {
  flex: 1 1 auto;
}

.pr-text p {
  margin: 0;
  line-height: 1.9;
}

@media (min-width: 768px) {

  .header-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1040px;
  }

  .breadcrumb {
    display: block;
    background: #efefef;
  }

  .bc-container {
    margin: 0 auto;
    padding: 12px 20px;
    max-width: 1040px;
  }

  .bottom-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 60px 20px 0 20px;
  }

  .footer-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 60px 20px;
    }

  .post .main-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 80px 20px 0 20px;
  }

  .post-contents {
    max-width: 600px;
    margin: 0 auto 60px auto;
  }

  .post-footer {
    max-width: 600px;
    margin: 0 auto 60px auto;
  }
}